In [57]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np

In [213]:
data = pd.read_excel('UNPD_WCU2019_Country_Data_Survey-Based.xlsx',
                     sheetname="By methods", header=4, usecols=range(22)).reset_index()

In [214]:
data.rename(columns={"level_0":"Country or area", "level_1":"ISO code",
                     "level_2":"Survey start year", "level_3":"Survey end year",
                     "level_4":"Age group"}, inplace=True)

In [215]:
data.set_index(['Country or area', 'ISO code'], inplace=True)

In [216]:
data.replace("..", np.nan, inplace=True)

In [217]:
most_recent_idx_end = data.groupby(['Country or area'])['Survey end year'].transform(max) == data['Survey end year']
most_recent_data = data[most_recent_idx_end]

In [218]:
most_recent_idx_start = most_recent_data.groupby(['Country or area'])['Survey start year'].transform(max) == most_recent_data['Survey start year']
most_recent_data_start = most_recent_data[most_recent_idx_start]

In [219]:
most_recent_idx_source = most_recent_data_start.groupby(['Country or area'])['Source'].transform(max) == most_recent_data_start['Source']
most_recent_data_source = most_recent_data_start[most_recent_idx_source]

In [220]:
most_recent_data_source.sort_values("Any modern method",
                             ascending=False)[['Survey start year', 'Survey end year',
                                               'Age group', 'Any modern method']]

,,Survey start year,Survey end year,Age group,Any modern method
Country or area,ISO code,,,,
United Kingdom,826,2008,2008,16-49,84.000000
Norway,578,2005,2005,20-44,82.200000
Finland,246,2015,2015,18-49,81.564246
China,156,2017,2017,15-49,80.500000
Germany,276,2011,2011,18-49,80.200000
Uruguay,858,2015,2015,15-44,78.274220
Argentina,32,2013,2013,14-49,78.200000
Brazil,76,2013,2013,15-49,77.700000
Czechia,203,2008,2008,18-44,77.600000
Nicaragua,558,2011,2012,15-49,77.400000
Democratic People's Republic of Korea,408,2014,2014,20-49,76.500000
Colombia,170,2015,2016,15-49,75.900000
Thailand,764,2015,2016,15-49,75.500000
Costa Rica,188,2015,2015,15-49,74.900000
France,250,2010,2011,15-49,72.700000
United States Virgin Islands,850,2002,2002,18-44,72.600000
New Zealand,554,1995,1995,20-49,72.300000
Puerto Rico,630,2002,2002,18-44,72.200000
Cuba,192,2014,2014,15-49,72.200000
"China, Hong Kong SAR",344,2012,2012,15-49,71.900000
Ecuador,218,2007,2012,15-49,71.700000
Ireland,372,2010,2010,18-45,70.906949
Netherlands,528,2013,2013,18-45,70.000000
Spain,724,2016,2016,15-49,69.900000
Chile,152,2015,2016,15-49,69.844749
Switzerland,756,2012,2012,15-49,69.200000
Jamaica,388,2008,2009,15-49,68.400000
Dominican Republic,214,2014,2014,15-49,68.000000
El Salvador,222,2014,2014,15-49,68.000000
United States of America,840,2015,2017,15-49,67.718811
...,...,...,...,...,...
Libya,434,2014,2014,15-49,16.300000
Northern Mariana Islands,580,1970,1970,15-49,16.000000
Mauritania,478,2015,2015,15-49,15.600000
Montenegro,499,2013,2013,15-49,15.400000
Mali,466,2015,2015,15-49,15.100000
Guinea-Bissau,624,2014,2014,15-49,14.400000
Comoros,174,2012,2012,15-49,14.200000
Azerbaijan,31,2011,2011,15-49,13.900000
The former Yugoslav Republic of Macedonia,807,2011,2011,15-49,12.800000
Angola,24,2015,2016,15-49,12.500000
Central African Republic,140,2010,2011,15-49,12.100000
Bosnia and Herzegovina,70,2011,2012,15-49,12.000000
Benin,204,2017,2018,15-49,12.000000
Sudan,729,2014,2014,15-49,11.700000
Niger,562,2017,2018,15-49,10.500000
Equatorial Guinea,226,2011,2011,15-49,9.500000
Gambia,270,2013,2013,15-49,8.100000
Guinea,324,2016,2016,15-49,7.800000
Democratic Republic of the Congo,180,2013,2014,15-49,7.500000
Croatia,191,1970,1970,15-44,7.000000
Eritrea,232,2010,2010,15-49,7.000000
Chad,148,2014,2015,15-49,5.000000
South Sudan,728,2015,2015,15-49,5.000000
Albania,8,2017,2018,15-49,3.700000
Somalia,706,2006,2006,15-49,1.100000
Canada,124,2006,2006,15-49,NaN
Denmark,208,1991,1993,15-49,NaN
Poland,616,2014,2014,15-49,NaN
Republic of Korea,410,2015,2015,20-49,NaN
Venezuela (Bolivarian Republic of),862,2010,2010,15-49,NaN